{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Iniciar Sesión</title>
{% endblock %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}
<section style="margin-top: 5%;" data-bs-version="5.1" class="form-section">
    <div class="container">
        <div class="row content-wrapper justify-content-center align-items-center">
            <!-- Formulario -->
            <div class="col-lg-5 col-md-8 mbr-form">
                <div class="form-card">
                    <h1 class="form-title text-center mb-4"><strong>Iniciar sesión</strong></h1>
                    <p class="form-description text-center mb-4">Complete los campos para iniciar sesión</p>
                    <form method="post">{% csrf_token %}
                        <!-- Campos del formulario -->
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg w-100">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
            <!-- Imagen al lado del formulario -->
            <div class="col-lg-5 d-none d-lg-block">
                <div class="image-wrapper">
                    <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="Imagen de registro de usuario" />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .form-section {
        background-color: #f7f9fc; /* Fondo suave */
        padding: 50px 0;
    }

    .form-card {
        background-color: white; /* Fondo del formulario */
        border-radius: 8px; /* Esquinas redondeadas */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        padding: 40px;
    }

    .form-title {
        font-size: 2.5rem; /* Tamaño del título */
        color: #333; /* Color del texto */
    }

    .form-description {
        font-size: 1.1rem; /* Tamaño de la descripción */
        color: #666; /* Color del texto */
    }

    .btn-primary {
        background-color: #007bff; /* Color de botón */
        border-color: #007bff;
        transition: background-color 0.3s; /* Transición suave */
    }

    .btn-primary:hover {
        background-color: #0056b3; /* Color en hover */
        border-color: #0056b3;
    }

    .image-wrapper img {
        border-radius: 8px; /* Esquinas redondeadas para la imagen */
    }
</style>
{% endblock %}